<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>

    <label>Server Name</label>
    <!-- Using local reference -->
    <input type="text" class="form-control" #serverInput>

    <label>Server Content</label>
    <!-- Using 2 way bind -->
    <input type="text" class="form-control" [(ngModel)]="newServerContent">

    <button class="btn btn-primary" (click)="onAddServer(serverInput)">Add Server</button>
    <button class="btn btn-primary" (click)="onAddBlueprint(serverInput)">Add Server Blueprint</button>

  </div>
</div>
